{% extends 'base.html' %}

{% block content %}
   <h1 class="top">Top to news Headlines</h1>
    <div class="container">
        {% for sport_news in sport %}
        <div class="row">
            <div class="col-md-4">
                <div class="card-body mb-4">
                    <div class="card-content">
                        <img CLASS="img-fluid" width="500" src=" {{ sport_news.urlToImage }} ">
                        <h5> {{ sport_news.title }} </h5>
                        <p> {{ sport_news.description }} </p>
                        <p> {{ sport_news.publishedAt }} </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}